body, html {
	margin:0;
	padding:0;
}

video {
	max-width:calc(90vw - 250px);
	max-height:90vh;
}

#page-content-wrapper hr {
	border: 0;
    height: 1px;
    background: #333;
}

#page-content-wrapper h1, #page-content-wrapper h2, #page-content-wrapper h3 {
	margin-top:0;
}

#dumb {
	height:200px;
	width:1px;
}

hr {
	margin-top:0px !important;
	margin-bottom:0px !important;
	border-color:black !important;
}

h2 .icon {
	width: 15px;
	height: 15px;
	display: inline-block;
	margin-right: 3px;
	margin-top: 0px;
	position: relative;
	top: -3px;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
}

.icon {
	width: 10px;
	height: 10px;
	display: inline-block;
	margin-right: 2px;
	margin-top: 0px;
	position: relative;
	top: -1.5px;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
}

.icon.iba {background-color:#CC0000}
.icon.ibe {background-color:#0000AA}
.icon.ibf {background-color:#9999FF}
.icon.ibg {background-color:#000000}
.icon.ibi {background-color:#00AA00}
.icon.ibr {background-color:#BB00BB}
.icon.ibt {background-color:#BBBB00}

.icon.iva {background-color:#C48F85}
.icon.ive {background-color:#EFC4E4}
.icon.ivf {background-color:#79AFC6}
.icon.ivg {background-color:#A08A75}
.icon.ivi {background-color:#A4C499}
.icon.ivr {background-color:#A87E9F}
.icon.ivt {background-color:#EAEAAF}

.icon.ivr2 {background-color:#B12A2E}
.icon.ivf2 {background-color:#EF4658}
.icon.ivbritain2 {background-color:#0C87F8}
.icon.ivbrazil {background-color:#5EBD07}
.icon.ivholland {background-color:#13C7B6}



#page-content-wrapper hr {
	margin-bottom:25px !important;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 300px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 300px;
    width: 0;
    height: 100%;
    margin-left: -300px;
    overflow-y: auto;
    background: #EEE;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 300px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -300px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 300px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #111;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #333;
    background: rgba(255,255,255,0.3);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #111;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #000;
   background: rgba(255,255,255,0.3)
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 300px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 300px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}